<div>

    <h2>{{thread.title}}</h2>

    <div ng-include="'create_comment_renderer.html'"></div>

    <div class="row">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="javascript:void(0)">Discussion</a></li>
            <li><a href="javascript:void(0)">Community</a></li>
            <li><a href="javascript:void(0)">My</a></li>
            <li><a href="javascript:void(0)">Pending <span class="badge">42</span></a></li>
            <li><a href="javascript:void(0)">Rejected</a></li>
        </ul>

        <script type="text/ng-template" id="likes_renderer.html">
            <div ng-show="comment.dislikes > 0 || comment.likes > 0">
                <div ng-show="comment.dislikes > 0" style="color: red; display: inline-block">
                    {{comment.dislikes}}
                    <div style="height:5px; background-color: red; width: {{3 * comment.dislikes}}px; max-width: 120px; display: inline-block; margin: 2px 0 2px 0"></div>
                </div>
                <div ng-show="comment.likes > 0" style="color: green; display: inline-block">
                    <div style="height:5px; background-color: green; width: {{3 * comment.likes}}px; max-width: 120px; display: inline-block; margin: 2px 0 2px 0"></div>
                    {{comment.likes}}
                </div>
            </div>
        </script>

        <script type="text/ng-template" id="create_comment_renderer.html">

            <div class="row">

                <form name="form" role="form" novalidate ng-submit="create()">
                    <div><input class="form-control" ng-model="draft.subject" ng-minlength=1 ng-maxlength=148/></div>
                    <div><textarea class="form-control" placeholder="Type your comment here..." ng-model="draft.text"
                                   ng-minlength=1 ng-maxlength=2048 required></textarea></div>

                    <div>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary pull-right">
                            Post as Anonymous
                        </button>
                    </div>

                </form>

            </div>

        </script>

        <script type="text/ng-template" id="replyto_comment_renderer.html">

            <div class="container">

                <form name="form" role="form" novalidate ng-submit="create()">
                    <div><input class="form-control" ng-model="draft.subject" ng-minlength=1 ng-maxlength=148/></div>
                    <div><textarea class="form-control" placeholder="Type your comment here..." ng-model="draft.text"
                                   ng-minlength=1 ng-maxlength=2048 required></textarea></div>

                    <div class="pull-right">
                        <button type="button" class="btn btn-default" ng-click="draft.parentId = null">
                        Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            Reply as Anonymous
                        </button>
                    </div>

                </form>

            </div>

        </script>

        <script type="text/ng-template" id="comment_renderer.html">

            <div class="post">
                <a name="{{comment.id }}"></a>

                <div><strong><a href="javascript:void(0)" ng-show="{{comment.parentId != null}}">Re:</a>
                    {{comment.subject}}</strong></div>

                <div>
                    <span style="white-space: pre-line">{{comment.text}}</span> -- <a href="/">
                    {{comment.displayName}} </a>
                    <span style="color: grey" title="{{comment.createdDate | dateString }}">{{comment.createdDate | fromNow }}</span>
                </div>

                <div ng-include="'likes_renderer.html'"></div>

                <div class="menu">
                    <a class="voteUp" href="javascript:void(0)" ng-click="like(comment)">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                    </a>
                    <a class="voteDown" href="javascript:void(0)" ng-click="dislike(comment)">
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                    </a>
                    <a href="javascript:void(0)" ng-click="reply(comment)">
                        Reply
                    </a>
                    <a href="javascript:void(0)">
                        Parent
                    </a>
                    <a href="#/thread/{{comment.threadId}}/{{comment.id}}" title="Permalink">
                        <span class="glyphicon glyphicon-link"></span>
                    </a>
                    <a class="flag pull-right" href="javascript:void(0)" ng-click="flag(comment)" title="Report">
                        <span class="glyphicon glyphicon-flag"></span>
                    </a>
                </div>

            </div>

            <div ng-show="comment.id == draft.parentId">
                <div ng-include="'replyto_comment_renderer.html'"></div>
            </div>

            <!-- sum comments -->
            <div ng-hide="comment.subcomments.length == 0" style="margin-left: 10px; border-left: 1px solid #dedede">
                <dl>
                    <dd ng-repeat="comment in comment.subcomments" ng-include="'comment_renderer.html'"></dd>
                </dl>

            </div>

        </script>

        <div style="margin-top: 15px">
            <dl>
                <dd ng-repeat="comment in approved" ng-include="'comment_renderer.html'">

                </dd>
            </dl>

        </div>
    </div>
</div>
