<div>

    <h2>{{thread.title}}</h2>

    <div class="row">
        <form name="form" role="form" novalidate ng-submit="create()">
            <div><input class="form-control" ng-model="comment.subject" ng-minlength=1 ng-maxlength=148 required/></div>
            <div>{{comment.parentId}}</div>
            <div><textarea class="form-control" placeholder="Type your comment here..." ng-model="comment.text"
                           ng-minlength=1 ng-maxlength=2048 required></textarea></div>

            <div>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary pull-right">
                    Post as Anonymous
                </button>
            </div>

        </form>

    </div>
    <div class="row">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#">Discussion</a></li>
            <li><a href="#">Community</a></li>
            <li><a href="#">My</a></li>
            <li><a href="#">Pending <span class="badge">42</span></a></li>
            <li><a href="#">Rejected</a></li>
        </ul>

        <script type="text/ng-template" id="comment_renderer.html">

            <div class="post">
                <div><strong><a href="javascript:void(0)" ng-show="{{comment.parentId != null}}">Re:</a>
                    {{comment.subject}}</strong></div>
                <div>
                    <span style="white-space: pre-line">{{comment.text}}</span> -- <a href="/">
                    {{comment.displayName}} </a>
                    <span style="color: grey" title="{{comment.createdDate | dateString }}">{{comment.createdDate | fromNow }}</span>
                </div>
                <div style="height:4px" ng-show="comment.dislikes > 0 || comment.likes > 0">
                    <div style="color: green; width: {{comment.dislikes}}px"
                         title="{{comment.dislikes}} dislikes"></div>
                    <div style="color: red; width: {{comment.likes}}px" title="{{comment.likes}} likes"></div>
                </div>

                <div class="menu">
                    <a class="voteUp" href="javascript:void(0)" ng-click="voteUp(comment)">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                    </a>
                    <a class="voteDown" href="javascript:void(0)" ng-click="voteDown(comment)">
                        <span class="glyphicon glyphicon-thumbs-down"></span>
                    </a>
                    <a href="javascript:void(0)" ng-click="reply(comment)">
                        Reply
                    </a>
                    <a href="javascript:void(0)">
                        Parent
                    </a>
                    <a href="#/thread/{{comment.threadId}}/{{comment.id}}" title="Permalink">
                        <span class="glyphicon glyphicon-link"></span>
                    </a>
                    <a class="flag pull-right" href="javascript:void(0)" ng-click="flag(comment)" title="Report">
                    <span class="glyphicon glyphicon-flag"></span>
                    </a>
                </div>

            </div>

            <dl ng-hide="comment.subcomments.length == 0" style="margin-left: 10px; border-left: 1px solid #dedede">
                <dd ng-repeat="comment in comment.subcomments" ng-include="'comment_renderer.html'"></dd>
            </dl>

        </script>

        <div style="margin-top: 15px">
            <dl>
                <dd ng-repeat="comment in approved" ng-include="'comment_renderer.html'"></dd>
            </dl>

        </div>
    </div>
</div>
